*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
  
}

.container{
    position:relative;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-position: bottom;
    animation: color 12s ease-in-out infinite;
    background-size:300% 300%;
}
@keyframes color{
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position:0 50%;
  }
}

.item{
    width:100%;
    height:550px;
    max-width: 820px;
    background:white;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    z-index:1000;
}

.contact{
    background:#003459;
}

.submit-form{
    background: #007EA7;
}

.first-text{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
    color:#FFFFFF;
    font-weight: 600;
}

.image{
    height:320px;
    width:320px;
}

.social-media{
    display: flex;
    list-style: none;
}

ul li{
    padding-left: 15px;
    font-size: 24px;
    margin-top:10px;
}

.social-media i{
    background: #00a8e8;
    padding:5px;
    border-radius: 5px;
  transition:.3s;
  color: #FFFFFF;
}

.social-media i:hover{
    background: #FFFFFF;
    color: #00171F;
}

.secnd-text{
    font-weight: 500;
   color: #FFFFFF;
  padding-left: 20px;
}
.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left:20px;
    padding-top: 10px;
    color: #00a8e8;
}

form{
        padding-left: 60px;
        height:100%;
        width: 100%;
        overflow: hidden;
}
    .input-box{
        height: 40px;
        width:70%;
        margin: 50px 0;
        position:relative;
    }
    .input{
        width: 100%;
        height:100%;
        background: transparent;
        border: 2px solid #00171F;
        border-radius: 20px;
        outline:none;
        padding-bottom: 10px;
        color:#00171F;
        font-size: 16px;
  }
.input-box label{
    position: absolute;
    top:50%;
    left:100px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #00171F;
    transition: .3s;
  }
  
  .input-box  .input:focus ~ label,
  .input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background:#00a8e8;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
  }
  textarea.input{
    resize:none;
    height: 150px;
    overflow:auto;
  }
  .btn
  {
    position:relative;
    top: 40px;
    background:#007EA7;
    outline:none;
    border: none;
    border-radius: 4px;
    height:25px;
    width: 30%;
    font-size: 16px;
    color: #00171F;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
  }
  @media(max-width:840px){
    .item{
      grid-template-columns: 1fr;
    }
  .contact{
    display: none;
  }
  .text{
    font-size: 20px;
    text-align: center;
  }
  .btn{ 
    width: 20%;
  }
}